body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a.navbar-brand {
  margin-left: 16px;
  font-size: small;
  font-weight: 500;
}

a.nav-link {
  font-weight: 600;
  font-size: medium;
}

.parent-b-img {
  position: relative;
}

.parent-b-txt {
  position: absolute;
  margin-top: -368px;
  padding: 0;
}

@media (max-width: 720px) {
  .parent-b-txt {
    position: absolute;
    margin-top: -271px;
    padding: 0;
  }
}

.child-b-txt {
  width: fit-content;
  background: #ffffff7d;
  border-radius: 0px 10px 10px 0px;
  padding: 11px 59px;
}

.txt-1 {
  font-size: larger;
  font-family: "Roboto", sans-serif;
  color: #515151;
}

.f-txt {
  font-size: xxx-large;
}

.child-b-txt-2 {
  width: fit-content;
  margin-left: 52px;
  margin-top: 12px;
}

.p-txt {
  padding: 8px 0;
}

.f-txt-2 {
  font-size: 36px;
  font-weight: 600;
  padding: 3px 0;
}

.f-txt-1 {
  font-size: 40px;
  font-weight: 700;
  filter: drop-shadow(1px 1px 2px black);
}

@media (max-width: 720px) {
  .res-1st {
    font-size: small;
  }

  .f-txt {
    font-size: x-large;
  }
  .f-txt-1 {
    font-size: x-large;
    font-weight: 700;
    filter: drop-shadow(1px 1px 2px black);
  }
  .f-txt-2 {
    font-size: 24px;
    font-weight: 600;
    padding: 0;
  }
}

.parent-b-cont {
  margin: 12px 50px;
  background: #d7d7d7;
  padding: 12px 19px;
  border-radius: 10px;
}

li {
  font-size: smaller;
}

ul#myTab {
  border-bottom: none;
}

.parent-side-cont {
  height: 90vh;
  background: #e9e9e9;
  padding: 16px;
  border-radius: 24px 0 0 0;
  margin-bottom: 45px;
}

form {
  margin: 44px 11px;
}

.form-group {
  margin-bottom: 11px;
}

label {
  font-family: "Roboto", sans-serif;
  font-size: small;
}

button#domestic-tab,
button#international-tab {
  border: none;
  border-radius: 30px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  background: #c1c1c1;
  margin: 0 12px;
}

input#contact,
input#shippingDate {
  width: 30vh;
}

input[type="text"],
input[type="date"]:focus {
  box-shadow: none;
}

.nav-link.active {
  background-color: grey !important;
  color: white !important;
}

.button-container {
  text-align: right;
  margin: 39px 0;
}

button.btn {
  background: #1d4f24;
  color: white;
  font-weight: 400;
}

button.btn:hover {
  background: #1d4f24;
  color: white;
}

button.btn:active {
  background: #1d4f24;
  color: white;
}

div#navbarNav {
  margin-right: 27px;
}

.col-md-4 {
  margin-top: 42px;
}

.navbar-center {
  margin-left: 33%;
}

@media (max-width: 720px) {
  .navbar-center {
    margin-left: 0;
  }
}

ul.navbar-nav {
  margin-left: 13px;
}
